<header class="page-header page__header page-header--theme--light">
    <div class="container page-header__inner">
        <div class="page-header__holder">
            <button class="page-header__btn js-menu-toggle page-header__btn--theme--light">
                <svg class="svg-icon page-header__btn-icon" aria-hidden="true">
                    <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#menu"></use>
                </svg>
            </button>
        </div>
        <a class="page-header__logo-wrap" hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('homepage') }}">
            <img class="page-header__logo" src="{{ asset('/bundles/frontend/img/logo-light.svg') }}"
                 alt="St. Peter Hotel & Chalets" />
        </a>
        <div class="page-header__holder"></div>
        <div class="page-header__menu">
            <div class="contacts contacts--size--small contacts--horizontal d-none d-lg-block contacts--theme--light">
                <ul class="contacts__list">
                    <li class="contacts__item"><a class="contacts__link" href="tel:{{ contact.telephone }}">
                            <svg class="svg-icon contacts__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#phone"></use>

                            </svg>
                            <span class="contacts__text">{{ contact.telephone }}</span></a></li>
                    <li class="contacts__item"><a class="contacts__link" href="mailto:{{ contact.email }}">
                            <svg class="svg-icon contacts__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#envelope"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
            <div class="socials socials page-header__socials socials--theme--light">
                <ul class="socials__list">
                    <li class="socials__item"><a class="socials__link" href="{{ contact.tripadvisor }}" target="_blank">
                            <svg class="svg-icon socials__icon socials__icon--big" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#tripadvisor"></use>
                            </svg>
                        </a></li>
                    <li class="socials__item"><a class="socials__link" href="{{ contact.facebook }}" target="_blank">
                            <svg class="svg-icon socials__icon socials__icon--big" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                            </svg>
                        </a></li>
                    <li class="socials__item"><a class="socials__link" href="{{ contact.instagram }}" target="_blank">
                            <svg class="svg-icon socials__icon socials__icon--big" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
            {% if (app.request.server.get('SCRIPT_URL') == path('contacts') or app.request.server.get('PHP_SELF') == path('contacts')) or app.request.server.get('SCRIPT_URL') == path('activities')
                or app.request.server.get('PHP_SELF') == path('activities') %}
                <a class="btn btn--theme--white" hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('homepage') }}#booking"><span
                            class="btn__inner">{{ 'Book now'|trans([], 'messages') }}</span></a>
            {% else %}
                <button class="btn js-go-to-booking btn--theme--white" type="button"><span
                            class="btn__inner">{{ 'Book now'|trans([], 'messages') }}</span></button>
            {% endif %}
            <div class="languages page-header__languages languages--theme--light">
                <ul class="languages__list">
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('homepage') or app.request.server.get('PHP_SELF') == path('homepage')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('homepage.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('homepage.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('contacts') or app.request.server.get('PHP_SELF') == path('contacts')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('contacts.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('contacts.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}

                    {#{% if (app.request.server.get('SCRIPT_URL') == path('about-us') or app.request.server.get('PHP_SELF') == path('about-us')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('about-us.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('about-us.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}

                    {#{% if (app.request.server.get('SCRIPT_URL') == path('rooms-and-prices') or app.request.server.get('PHP_SELF') == path('rooms-and-prices')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('rooms-and-prices.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('rooms-and-prices.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('special-offers') or app.request.server.get('PHP_SELF') == path('special-offers')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('special-offers.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('special-offers.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('activities') or app.request.server.get('PHP_SELF') == path('activities')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('activities.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('activities.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('chalets') or app.request.server.get('PHP_SELF') == path('chalets')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('chalets.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('chalets.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('chalets') or app.request.server.get('PHP_SELF') == path('chalets')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('chalets.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('chalets.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('restaurant-and-bar') or app.request.server.get('PHP_SELF') == path('restaurant-and-bar')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('restaurant-and-bar.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('restaurant-and-bar.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('spa') or app.request.server.get('PHP_SELF') == path('spa')) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('spa.en' ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('spa.de' ) }}">DE</a></li>#}
                    {#{% endif %}#}
                    {#{{ dump(app.request.server.get('SCRIPT_URL'), app.request.server.get('PHP_SELF'), app.request.attributes.get('slug')) }}#}
                    {#{% set item_slug =  app.request.server.get('PHP_SELF')|split('/') %}#}
                    {#{% if (app.request.server.get('SCRIPT_URL') == path('room-class', {'slug': item_slug|last }) or app.request.server.get('PHP_SELF') == path('room-class', {'slug': item_slug|last })) %}#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('room-class.en', {'slug': item_slug|last } ) }}">ENG</a></li>#}
                        {#<li class="languages__item"><a#}
                                    {#class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"#}
                                    {#hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"#}
                                    {#href="{{ path('room-class.de', {'slug': item_slug|last } ) }}">DE</a></li>#}
                    {#{% endif %}#}

                    <li class="languages__item"><a
                                class="languages__link {% if app.request.get('_locale') == 'en' %}languages__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"
                                href="{{ path('translation', {'_locale': 'en' } ) }}">ENG</a></li>
                    <li class="languages__item"><a
                                class="languages__link {% if app.request.get('_locale') == 'de' %}languages__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}"
                                href="{{ path('translation', {'_locale': 'de' } ) }}">DE</a></li>

                </ul>
            </div>
            <nav class="nav page-header__nav nav--theme--light">
                <ul class="nav__list">
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('about-us')
                                    or app.request.server.get('PHP_SELF') == path('about-us') %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('about-us') }}">{{ 'ABOUT US'|trans([], 'messages') }}</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('rooms-and-prices')
                                    or app.request.server.get('PHP_SELF') == path('rooms-and-prices') %}nav__link--current{% elseif app.request.server.get('PHP_SELF')|split('/')|last != '' and app.request.server.get('PHP_SELF') == path('room-class', {'slug': app.request.server.get('PHP_SELF')|split('/')|last} ) %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ url('rooms-and-prices') }}">{{ 'ROOMS & PRICES'|trans([], 'messages') }}</a>
                    </li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('special-offers')
                                    or app.request.server.get('PHP_SELF') == path('special-offers') %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('special-offers') }}">{{ 'SPECIAL OFFERS'|trans([], 'messages') }}</a>
                    </li>
                    <li class="nav__item"><a
                                class="nav__link {% if app.request.server.get('SCRIPT_URL') == path('activities')
                                    or app.request.server.get('PHP_SELF') == path('activities') %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('activities') }}">{{ 'Activities'|trans([], 'messages') }}</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('chalets')
                                    or app.request.server.get('PHP_SELF') == path('chalets') %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('chalets') }}">{{ 'Chalets'|trans([], 'messages') }}</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('contacts')
                                    or app.request.server.get('PHP_SELF') == path('contacts') %}nav__link--current{% endif %}"
                                hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('contacts') }}">{{ 'CONTACTS'|trans([], 'messages') }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container d-lg-none Pos(r)">
        <div class="contacts contacts--size--small contacts--horizontal page-header__contacts contacts--theme--light">
            <ul class="contacts__list Jc(c)">
                <li class="contacts__item"><a class="contacts__link" href="tel:{{ contact.telephone }}">
                        <svg class="svg-icon contacts__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#phone"></use>
                        </svg>
                    </a></li>
                <li class="contacts__item"><a class="contacts__link" href="mailto:{{ contact.email }}">
                        <svg class="svg-icon contacts__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#envelope"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</header>