<header class="page-header page__header page-header--theme--dark">
    <div class="container page-header__inner">
        <div class="page-header__holder">
            <button class="page-header__btn js-menu-toggle page-header__btn--theme--dark">
                <svg class="svg-icon page-header__btn-icon" aria-hidden="true">
                    <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#menu"></use>
                </svg>
            </button>
        </div>
        <a class="page-header__logo-wrap" href="{{ path('homepage') }}">
            <img class="page-header__logo" src="{{ asset('/bundles/frontend/img/logo.svg') }}">
        </a>
        <div class="page-header__holder"></div>
        <div class="page-header__menu">
            <div class="contacts contacts--size--small contacts--horizontal d-none d-lg-block contacts--theme--dark">
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel:{{ contact.telephone }}">
                            <svg class="svg-icon contacts__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#phone"></use>
                            </svg>
                            <span class="contacts__text">{{ contact.telephone }}</span>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="mailto:{{ contact.email }}">
                            <svg class="svg-icon contacts__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#envelope"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="socials page-header__socials socials--theme--dark">
                <ul class="socials__list">
                    <li class="socials__item"><a class="socials__link" href="{{ contact.tripadvisor }}">
                            <svg class="svg-icon socials__icon socials__icon--big" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#tripadvisor"></use>
                            </svg>
                        </a></li>
                    <li class="socials__item"><a class="socials__link" href="{{ contact.facebook }}">
                            <svg class="svg-icon socials__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                            </svg>
                        </a></li>
                    <li class="socials__item">
                        <a class="socials__link" href="{{ contact.instagram }}">
                            <svg class="svg-icon socials__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="btn btn--theme--default btn--theme--default" href="#">Book now</a>
            <div class="languages page-header__languages languages--theme--dark">
                <ul class="languages__list">
                    <li class="languages__item"><a class="languages__link"
                                                   href="{{ path('translate', {'locale': 'en'}) }}">ENG</a></li>
                    <li class="languages__item"><a class="languages__link"
                                                   href="{{ path('translate', {'locale': 'de'}) }}">DE</a></li>
                </ul>
            </div>
            <nav class="nav page-header__nav nav--theme--dark">
                <ul class="nav__list">

                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('about-us')
                                    or app.request.server.get('PHP_SELF') == path('about-us') %}nav__link--current{% endif %}"
                                href="{{ path('about-us') }}">About us</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('rooms-and-prices')
                                    or app.request.server.get('PHP_SELF') == path('rooms-and-prices') %}nav__link--current
{% elseif app.request.server.get('PHP_SELF')|split('/')|last != '' and app.request.server.get('PHP_SELF') == path('room-class', {'slug': app.request.server.get('PHP_SELF')|split('/')|last} ) %}nav__link--current{% endif %}"
                                href="{{ url('rooms-and-prices') }}">Rooms &amp; Prices</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('special-offers')
                                    or app.request.server.get('PHP_SELF') == path('special-offers') %}nav__link--current{% endif %}"
                                href="{{ path('special-offers') }}">Special Offers</a></li>
                    <li class="nav__item"><a
                                class="nav__link {% if app.request.server.get('SCRIPT_URL') == path('activities')
                                    or app.request.server.get('PHP_SELF') == path('activities') %}nav__link--current{% endif %}"
                                href="{{ path('activities') }}">Activities</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('chalets')
                                    or app.request.server.get('PHP_SELF') == path('chalets') %}nav__link--current{% endif %}"
                                href="{{ path('chalets') }}">Chalets</a></li>
                    <li class="nav__item"><a
                                class="nav__link  {% if app.request.server.get('SCRIPT_URL') == path('contacts')
                                    or app.request.server.get('PHP_SELF') == path('contacts') %}nav__link--current{% endif %}"
                                href="{{ path('contacts') }}">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container d-lg-none Pos(r)">
        <div class="contacts contacts--size--small contacts--horizontal page-header__contacts contacts--theme--dark">
            <ul class="contacts__list Jc(c)">
                <li class="contacts__item"><a class="contacts__link" href="tel:{{ contact.telephone }}">
                        <svg class="svg-icon contacts__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#phone"></use>
                        </svg>
                    </a></li>
                <li class="contacts__item"><a class="contacts__link" href="mailto:{{ contact.email }}">
                        <svg class="svg-icon contacts__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#envelope"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</header>