{% extends '@Frontend/base.html.twig' %}
{% block bodyclass %} class="page" {% endblock %}
{% block seo %}
     {% if locale == 'de' %}
         <meta name="description" content={% if seo.descriptionTrans %}{{ seo.descriptionTrans }}{% endif %}>
         <meta name="keywords" content={% if seo.keywordsTrans %}{{ seo.keywordsTrans }}{% endif %}>
         <title>{{ seo.titleTrans }}</title>
         <meta property="og:title" content="{{ seo.titleTrans }}" />
     {% else %}
         <meta name="description" content={% if seo.description %}{{ seo.description }}{% endif %}>
         <meta name="keywords" content={% if seo.keywords %}{{ seo.keywords }}{% endif %}>
         <title>{{ seo.title }}</title>
         <meta property="og:title" content="{{ seo.title }}" />
     {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mountains.at{{ path('spa') }}" />
    <meta property="og:image" content="{{ asset('/uploads/images/background/spa/' ~ data.backgroundImage)|imagine_filter('bg_desktop_thumb') }}" />
    <meta property="og:description"
          content="{% if locale == 'de' %}{{ data.descriptionTrans|striptags|raw }}{% else %}{{ data.description|striptags|raw  }}{% endif %}" />
{% endblock %}
{% block header %}
    {{ render(controller('FrontendBundle:Default:headerLight')) }}
{% endblock %}
{% block special %}
    <div class="hero hero--size--medium hero--with-overlay">
        <div class="hero__inner">
            <div class="hero__bg lazyload lazyload-container"
                 data-bgset="{{ asset('/uploads/images/background/spa/' ~ data.backgroundImage)|imagine_filter('bg_desktop_thumb') }} [(min-width: 992px)] | {{ asset('/uploads/images/background/spa/' ~ data.backgroundImage)|imagine_filter('bg_mobile_thumb') }}"></div>
            <div class="hero__content container">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" hreflang="{% if locale == 'de' %}de{% else %}en{% endif %}" href="{{ path('homepage') }}">{{ 'Home'|trans([], 'messages') }}</a>
                            <svg class="svg-icon breadcrumbs__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#chevron-right"></use>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item"><span class="breadcrumbs__text">{% if locale == 'de' %}{{ seo.h1Trans }}{% else %}{{ seo.h1 }}{% endif %}</span></li>
                    </ul>
                </div>
                <h1 class="hero__title Mb(0)">{% if locale == 'de' %}{{ seo.h1Trans }}{% else %}{{ seo.h1 }}{% endif %}</h1></div>
            <div class="hero__clouds"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container section__inner">
            <div class="row">
                <div class="col-lg-9"><h2 class="h2 C(eden)">{% if locale == 'de' %}{{ data.titleTrans }}{% else %}{{ data.title }}{% endif %}</h2></div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="static-content C(eden)">
                        {% if locale == 'de' %}{{ data.descriptionTrans|raw}}{% else %}{{ data.description|raw }}{% endif %}
                    </div>
                </div>
                <div class="col-lg-5 Mt(2.5rem) Mt(0)--lg">
                    <div class="D(f) Ai(c)"><button class="btn btn--theme--invert js-widget-init" type="button"><span class="btn__inner">{{ 'Book now'|trans([], 'messages') }}</span></button>
                        <button class="mark js-reasons-dialog-open Mstart(0.5rem)" data-url="{{ path('dialog') }}">{{ '3 reasons'|trans([], 'messages') }}
                            <svg class="svg-icon mark__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left"></use>
                            </svg>
                            <br>{{ 'to book'|trans([], 'messages') }}<br>{{ 'direct'|trans([], 'messages') }}
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <div class="js-widget"
                         data-src="https://res-online.ch/wbePlus/incubator.js.php?hotelID=2872&amp;username=WBEPlus&amp;password=zSUyPbYu&amp;type=step{% if locale == 'de' %}&amp;lang=de{% else %}&amp;lang=en{% endif %}"
                         style="display: none;">
                        <div id="wbe_container"></div>
                        <div class="loader W(8rem) H(8rem) Mx(a)"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--theme--blue section--img--left section--with-padding section--img-fixed section--img-fixed--img-left">
        <div class="section__inner">
            <div class="section__content">
                <figure class="section__img-wrap lazyload-container lazyload-container--spacer-needed-rectangle">
                    <img class="section__img lazyload"
                         data-srcset="{{ asset('/uploads/images/spa-page/' ~ data.image)|imagine_filter('thumb_385')   }} 385w,
                                      {{ asset('/uploads/images/spa-page/' ~ data.image)|imagine_filter('thumb_522')   }} 522w,
                                      {{ asset('/uploads/images/spa-page/' ~ data.image)|imagine_filter('thumb_770')   }} 770w,
                                      {{ asset('/uploads/images/spa-page/' ~ data.image)|imagine_filter('thumb_1044')  }} 1044w"
                         data-src="{{ asset('/uploads/images/spa-page/' ~ data.image) }}" data-sizes="auto" alt="{% if locale == 'de' %}{{ data.imageAltTrans }}{% else %}{{ data.imageAlt }}{% endif %}">
                </figure>
                <div class="section__text">
                    <div class="section__text-inner">
                        <h2 class="h2">{% if locale == 'de' %}{{ data.firstBlcTitleTrans }}{% else %}{{ data.firstBlcTitle }}{% endif %}</h2>
                        <div class="static-content">
                            {% if locale == 'de' %}{{ data.firstBlcDescriptionTrans|raw }}{% else %}{{ data.firstBlcDescription|raw }}{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        <div class="section__inner">
            <div class="carousel Mb(-10rem)">
                <div class="container carousel__top">
                    <button class="arrow carousel__arrow carousel__arrow--prev Mt(0.5rem)--lg" type="button">
                        <svg class="svg-icon arrow__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left-round"></use>
                        </svg>
                    </button>
                    <div class="carousel__thumbs flickity-enabled">
                        {% for thumb in data.gallery %}
                            <div class="carousel__thumb">
                                <figure class="carousel__figure">
                                    <img class="lazyload carousel__thumb-img"
                                         data-srcset="{{ asset('/uploads/images/spa-gallery/' ~ thumb.image) |imagine_filter('thumb_104') }} 104w,
                                                      {{ asset('/uploads/images/spa-gallery/' ~ thumb.image) |imagine_filter('thumb_208') }} 208w"
                                         data-sizes="auto"
                                         data-src="{{ asset('/uploads/images/spa-gallery/' ~ thumb.image) }}" alt="{% if locale == 'de' %}{{ thumb.imageAltTrans }}{% else %}{{ thumb.imageAlt }}{% endif %}">
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="arrow carousel__arrow carousel__arrow--next Mt(0.5rem)--lg" type="button">
                        <svg class="svg-icon arrow__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right-round"></use>
                        </svg>
                    </button>
                </div>
                <div class="carousel__slider carousel__slider--desktop-not-full-width carousel__slider--height-needed flickity-enabled">
                    {% for thumb in data.gallery %}
                        <div class="carousel__item">
                            <figure class="carousel__figure lazyload-container lazyload-container--transitioned">
                                <img class="lazyload carousel__img carousel__img--size--big"
                                        data-srcset="{{ asset('/uploads/images/spa-gallery/' ~ thumb.image)|imagine_filter('thumb_320')  }} 320w,
                                                     {{ asset('/uploads/images/spa-gallery/' ~ thumb.image)|imagine_filter('thumb_640')  }} 640w,
                                                     {{ asset('/uploads/images/spa-gallery/' ~ thumb.image)|imagine_filter('thumb_1366') }} 1366w,
                                                     {{ asset('/uploads/images/spa-gallery/' ~ thumb.image)|imagine_filter('thumb_1920') }} 1920w"
                                        data-sizes="auto" alt="{% if locale == 'de' %}{{ thumb.imageAltTrans }}{% else %}{{ thumb.imageAlt }}{% endif %}">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="Bgc(secondary)">
        <div class="container static-content Pt(13rem) Pb(8rem) C(eden)">
            {% if locale == 'de' %}{{ data.secondBlcDescriptionTrans|raw }}{% else %}{{ data.secondBlcDescription|raw }}{% endif %}
        </div>
    </div>
    <section class="section">
        <div class="container section__inner">
            <h2 class="h2 C(eden)">{% if locale == 'de' %}{{ data.priceBlcTitleTrans }}{% else %}{{ data.priceBlcTitle }}{% endif %}</h2>
            <div class="row">
                <div class="col-lg-7">
                    <div class="static-content C(eden)">{% if locale == 'de' %}{{ data.priceBlcDescriptionTrans|raw }}{% else %}{{ data.priceBlcDescription|raw }}{% endif %}</div>
                </div>
                {% if data.fileForPrice != '' or data.fileForPriceTrans  != '' %}
                <div class="col-lg-5 Mt(2.5rem) Mt(0)--lg"><a class="btn btn--theme--default" download="{% if locale == 'de' %}{{ data.fileForPriceTrans }}{% else %}{{ data.fileForPrice }}{% endif %}" href="{% if locale == 'de' %}
{{ asset('/uploads/files/price/trans/' ~ data.fileForPriceTrans) }}{% else %}{{ asset('/uploads/files/price/' ~ data.fileForPrice) }}{% endif %}"><span class="btn__inner">{{ 'Download'|trans([], 'messages') }}</span></a></div>
                {% endif %}
            </div>
        </div>
    </section>
    {% include '@Frontend/parts/_map.html.twig' %}
{% endblock %}
{% block jscripts %}
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/vendors~about-us~activities~chalets~common~contacts~index~restaurant~spa~special-offers~suites.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/vendors~chalets~restaurant~spa~suites.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/spa.js') }}"></script>
{% endblock %}