{% extends '@Frontend/base.html.twig' %}


{% block bodyclass %} class="page" {% endblock %}

 {% block seo %}
     {% if locale == 'de' %}
         <meta name="description" content={{ seo.descriptionTrans }}>
         <meta name="keywords" content={{ seo.keywordsTrans }}>
         <title>{{ seo.titleTrans }}</title>
     {% else %}
         <meta name="description" content={{ seo.description }}>
         <meta name="keywords" content={{ seo.keywords }}>
         <title>{{ seo.title }}</title>
     {% endif %}
 {% endblock %}

{% block header %}
    {{ render(controller('FrontendBundle:Default:headerLight')) }}
{% endblock %}

{% block special %}
    <div class="hero hero--size--medium hero--with-overlay lazyload lazyload-container"
         data-bgset="{{ asset('/uploads/images/background/activities/' ~ activities[0].backgroundImage) | imagine_filter('bg_desktop_thumb') }} [(min-width: 992px)] | {{ asset('/uploads/images/background/activities/' ~ activities[0].backgroundImage) | imagine_filter('bg_mobile_thumb') }}">
        <div class="hero__inner Jc(c)">
            <div class="hero__content container">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ path('homepage') }}">Home</a>
                            <svg class="svg-icon breadcrumbs__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#chevron-right"></use>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item"><span class="breadcrumbs__text">Activities</span></li>
                    </ul>
                </div>
                <h1 class="hero__title Mb(0)">Activities</h1>
            </div>
            <img class="hero__people lazyload js-parallax B(-208px) W(355px)"
                 data-srcset="{{ asset('/bundles/frontend/img/people-desktop-3_355.png') }} 355w,
                              {{ asset('/bundles/frontend/img/people-desktop-3_710.png') }} 710w"
                 data-src="{{ asset('/bundles/frontend/img/people-desktop-3_710.png') }}" data-sizes="auto" alt="" data-speed="36">
            <div class="hero__clouds"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {#{% set file = thumb('G:/OSPanel/domains/hotel/src/FrontendBundle/Resources/public/img/temp/img.jpg', 1, 770) %}#}
    {#<img src="{{ asset('/bundles/thumbnails/' ~ 1 ~ '/' ~ file) }}">#}
    {% for activity in activities %}
        <section class="section">
            <div class="container section__inner">
                <div class="row">
                    <div class="col-lg-6 offset-lg-1">
                        <h2 class="h2 C(primary)">{% if locale == 'de' %}{{ activity.titleTrans }}{% else %}{{ activity.title }}{% endif %}</h2>
                        <div class="static-content C(primary)">
                            <p>{% if locale == 'de' %}{{ activity.descriptionTrans|raw }}{% else %}{{ activity.description|raw }}{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Bgi(gallery-gradient-light)">
                <div class="container section__inner">
                    <div class="gallery gallery--theme--dark">
                        <div class="glide gallery__slider">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides gallery__items">
                                    {% for item in activity.part %}

                                        {#{% set file = app.request.schemeAndHttpHost ~ asset('/uploads/images/activities/' ~ item.image) %}#}
                                        <li class="gallery__item glide__slide">
                                            <figure class="gallery__img-wrap lazyload-container lazyload-container--spacer-needed-square">
                                                <img class="gallery__img lazyload" data-sizes="auto"
                                                     data-srcset="{{ asset('/uploads/images/activities/' ~ item.image) |imagine_filter('thumb_250') }} 250w,
                                                                  {{ asset('/uploads/images/activities/' ~ item.image) |imagine_filter('thumb_500') }} 500w"
                                                     data-src="{{ asset('/uploads/images/activities/' ~ item.image) }}" alt="">
                                                <figcaption class="gallery__caption">
                                                    <h4 class="h3 gallery__title">{% if locale == 'de' %}{{ item.titleTrans }}{% else %}{{ item.title }}{% endif %}</h4>
                                                </figcaption>
                                            </figure>
                                            <div class="static-content">
                                                <p>{% if locale == 'de' %}{{ item.descriptionTrans|raw }}{% else %}{{ item.description|raw }}{% endif %}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]">
                                {% for item in activity.part %}
                                    <button class="glide__bullet" data-glide-dir="={{ loop.index }}"></button>
                                {% endfor %}
                                {#<button class="glide__bullet" data-glide-dir="=1"></button>#}
                                {#<button class="glide__bullet" data-glide-dir="=2"></button>#}
                                {#<button class="glide__bullet" data-glide-dir="=3"></button>#}
                            </div>
                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="glide__arrow glide__arrow--left" data-glide-dir="&lt;">
                                    <svg class="svg-icon glide__arrow-icon" aria-hidden="true">
                                        <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left-round"></use>
                                    </svg>
                                </button>
                                <button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;">
                                    <svg class="svg-icon glide__arrow-icon" aria-hidden="true">
                                        <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right-round"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

    {% include '@Frontend/parts/_map.html.twig' %}
{% endblock %}

{% block jscripts %}
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/activities.js') }}"></script>
{% endblock %}