{{ form_start(form, {'attr': {'class': 'form js-ajax-form js-validate-form', 'data-url': path('contact-dialog'), novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="row form__inner">
        <div class="col-lg-6">
            <div class="form__group">
                {{ form_widget(form.name, { 'attr': {'data-error': 'error.name'|trans([], 'messages')} }) }}<span class="error form__error"></span>
            </div>
            <div class="form__group">
                {{ form_widget(form.telephone, { 'attr': {'data-error': 'error.phone'|trans([], 'messages')} }) }}<span class="error form__error"></span>
            </div>
            <div class="form__group">
                {{ form_widget(form.email, { 'attr': {'data-error': 'error.email'|trans([], 'messages')} }) }}<span class="error form__error"></span>
            </div>
        </div>
        <div class="col-lg-6 Mt(1rem) Mt(0)--lg">
            <div class="form__group">
                {{ form_widget(form.body) }}
            </div>
        </div>
        <div class="col-lg-6 offset-lg-6 Mt(1rem) D(f) Jc(fe)">
            <button class="btn btn--theme--light"><span class="btn__inner">{{ 'Submit'|trans([], 'messages') }}</span></button>
        </div>
    </div>
{{ form_end(form) }}