{% extends '@Frontend/base.html.twig' %}
{% block bodyclass %} class="page" {% endblock %}
{% block seo %}
    {% if seo %}
        {% if locale == 'de' %}
            <meta name="description" content={% if seo.descriptionTrans %}{{ seo.descriptionTrans }}{% endif %}>
            <meta name="keywords" content={% if seo.keywordsTrans %}{{ seo.keywordsTrans }}{% endif %}>
            <title>{{ seo.titleTrans }}</title>
            <meta property="og:title" content="{{ seo.titleTrans }}" />
        {% else %}
            <meta name="description" content={% if seo.description %}{{ seo.description }}{% endif %}>
            <meta name="keywords" content={% if seo.keywords %}{{ seo.keywords }}{% endif %}>
            <title>{{ seo.title }}</title>
            <meta property="og:title" content="{{ seo.title }}" />
        {% endif %}

    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mountains.at{{ path('room-class', {'slug': item.slug }) }}" />
    {% for slide in item.gallery %}
        <meta property="og:image" content="{{ asset('/uploads/images/room-class-gallery/' ~ slide.image)|imagine_filter('bg_desktop_thumb') }}" />
    {% endfor %}
    <meta property="og:description"
          content="{% if locale == 'de' %}{{ item.descriptionTrans|striptags|raw }}{% else %}{{ item.description|striptags|raw  }}{% endif %}" />
{% endblock %}
{% block header %}
    {{ render(controller('FrontendBundle:Default:headerLight')) }}
{% endblock %}
{% block special %}
    {#{{ dump(app.request.server.get('SCRIPT_URL'), app.request.server.get('PHP_SELF'), app.request.attributes.get('slug')) }}#}
    <div class="hero hero--size--medium hero--with-overlay">
        <div class="carousel hero__inner">
            <div class="carousel__slider hero__carousel-slider">
                {% for slide in item.gallery %}
                    <div class="hero__carousel-slide lazyload lazyload-container js-parallax-background"
                         data-bgset="{{ asset('/uploads/images/room-class-gallery/' ~ slide.image)|imagine_filter('bg_desktop_thumb') }} [(min-width: 992px)] | {{ asset('/uploads/images/room-class-gallery/' ~ slide.image)|imagine_filter('bg_mobile_thumb') }}"></div>
                {% endfor %}
            </div>
            <div class="hero__content container">
                <div class="D(f) Flw(w) Mb(2rem) Ai(c)">
                    <button class="arrow carousel__arrow carousel__arrow--prev Mend(3rem)--lg" type="button">
                        <svg class="svg-icon arrow__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left-round"></use>
                        </svg>
                    </button>
                    <h1 class="hero__title Mb(1rem) Mt(0) Or(-1) Or(0)--lg Mb(0)--lg">{{ item.title }}</h1>
                    <button class="arrow carousel__arrow carousel__arrow--next Mstart(3rem)" type="button">
                        <svg class="svg-icon arrow__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right-round"></use>
                        </svg>
                    </button>
                </div>
                <div class="carousel__thumbs Mb(1.5rem)">
                    {% for slide in item.gallery %}
                        <div class="carousel__thumb">
                            <figure class="carousel__figure">
                                <img class="lazyload carousel__thumb-img"
                                     data-srcset="{{ asset('/uploads/images/room-class-gallery/' ~ slide.image)|imagine_filter('thumb_104') }} 104w,
                                              {{ asset('/uploads/images/room-class-gallery/' ~ slide.image)|imagine_filter('thumb_208') }} 208w"
                                     data-sizes="auto"
                                     data-src="{{ asset('/uploads/images/room-class-gallery/' ~ slide.image) }}"
                                     alt="{% if locale == 'de' %}{{ slide.imageAltTrans }}{% else %}{{ slide.imageAlt }}{% endif %}">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
                <p class="h3 C(#fff) Mb(0)">{% if locale == 'de' %}{{ item.priceTrans }}{% else %}{{ item.price }}{% endif %}</p></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="section Bgc(secondary)">
        <div class="container section__inner">
            <div class="static-content C(primary) Mb(3rem)">
                {% if locale == 'de' %}{{ item.descriptionTrans|raw }}{% else %}{{ item.description|raw }}{% endif %}
            </div>
            <div class="facilities Mb(3rem) facilities--theme--dark">
                <ul class="facilities__list">
                    {% for i in item.feature %}
                        <li class="facilities__item">
                            <svg class="svg-icon facilities__icon" aria-hidden="true">
                                <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') ~ i.imageHash }}"></use>
                            </svg>
                            {% if locale == 'de' %}{{ i.nameTrans }}{% else %}{{ i.name }}{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="D(f) Ai(c)">
                <button class="btn btn--theme--invert js-widget-init" type="button"><span class="btn__inner">{{ 'Book now'|trans([], 'messages') }}</span></button>
                <button class="mark js-reasons-dialog-open Mstart(0.5rem)" data-url="{{ path('dialog') }}">{{ '3 reasons'|trans([], 'messages') }}
                    <svg class="svg-icon mark__icon" aria-hidden="true">
                        <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left"></use>
                    </svg>
                    <br>{{ 'to book'|trans([], 'messages') }}<br>{{ 'direct'|trans([], 'messages') }}
                </button>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="js-widget"
                         data-src="https://res-online.ch/wbePlus/incubator.js.php?hotelID=2872&amp;username=WBEPlus&amp;password=zSUyPbYu&amp;type=step"
                         style="display: none;">
                        <div id="wbe_container"></div>
                        <div class="loader W(8rem) H(8rem) Mx(a)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container section__inner">
            <div class="cards">
                <div class="cards__inner">
                    {% for i in item.item %}
                        <div class="card cards__item">
                            <div class="card__inner">
                                <figure class="card__figure lazyload-container lazyload-container--transitioned lazyload-container--spacer-needed-square">
                                    <img class="card__img lazyload" data-sizes="auto"
                                         data-srcset="{{ asset('/uploads/images/room-class-item/' ~ i.image)|imagine_filter('thumb_304') }} 304w,
                                                      {{ asset('/uploads/images/room-class-item/' ~ i.image)|imagine_filter('thumb_608') }} 608w"
                                         data-src="{{ asset('/uploads/images/room-class-item/' ~ i.image) }}" alt="{% if locale == 'de' %}{{ i.imageAltTrans }}{% else %}{{ i.imageAlt }}{% endif %}"/>
                                </figure>
                                <div class="card__info">
                                    <h3 class="h2 C(eden)">{% if locale == 'de' %}{{ i.titleTrans }}{% else %}{{ i.title }}{% endif %}</h3>
                                    <div class="row Ai(c) Mb(1.5rem)">
                                        <div class="col-lg-5">
                                            <p class="h3 C(eden) Mb(0)--lg">{% if locale == 'de' %}{{ i.priceTrans }}{% else %}{{ i.price }}{% endif %}</p>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="D(f) Ai(c)">
                                                <button class="btn btn--theme--invert js-go-to-booking" type="button"><span class="btn__inner">{{ 'Book now'|trans([], 'messages') }}</span></button>
                                                <button class="mark js-reasons-dialog-open Mstart(0.5rem)" data-url="{{ path('dialog') }}">{{ '3 reasons'|trans([], 'messages') }}
                                                    <svg class="svg-icon mark__icon" aria-hidden="true">
                                                        <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left"></use>
                                                    </svg>
                                                    <br>{{ 'to book'|trans([], 'messages') }}<br>{{ 'direct'|trans([], 'messages') }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="static-content Mb(2rem) C(eden)">
                                        {% if locale == 'de' %}{{ i.descriptionTrans|raw }}{% else %}{{ i.description|raw }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include '@Frontend/parts/_map.html.twig' %}
{% endblock %}
{% block jscripts %}
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/vendors~about-us~activities~chalets~common~contacts~index~restaurant~spa~special-offers~suites.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/vendors~chalets~restaurant~spa~suites.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/frontend/js/suites.js') }}"></script>
{% endblock %}